In [1]:
# https://github.com/cuttlefishh/python-for-data-analysis/blob/master/assignments/assignment6.md

In [ ]:
# download data
# the metadata file for a 2,000-sample subset of the >27,000 samples in the Release 1 16S rRNA dataset.

In [3]:
# curl -O "ftp://ftp.microbio.me/emp/release1/mapping_files/emp_qiime_mapping_subset_2k.tsv"

In [3]:
# A. Reading and summarizing
# Import the tab-separated values file emp_qiime_mapping_subset_2k.tsv as a DataFrame called df with default data types, with the first row as column labels (columns) and the first column as row labels (indexes).
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
data = pd.read_table("/Users/ruijuanli/Desktop/python-data-analysis_RuijuanL/chapter_5/emp_qiime_mapping_subset_2k.tsv", index_col= 0)
df = pd.DataFrame(data)
df.head()

,BarcodeSequence,LinkerPrimerSequence,Description,host_subject_id,study_id,title,principal_investigator,doi,ebi_accession,target_gene,...,adiv_shannon,adiv_faith_pd,temperature_deg_c,ph,salinity_psu,oxygen_mg_per_l,phosphate_umol_per_l,ammonium_umol_per_l,nitrate_umol_per_l,sulfate_umol_per_l
#SampleID,,,,,,,,,,,,,,,,,,,,,
550.L1S116.s.1.sequence,ATGCCTGAGCAG,GTGCCAGCMGCCGCGGTAA,sample_20 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.867414,12.457989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S119.s.1.sequence,CAGCACTAAGCG,GTGCCAGCMGCCGCGGTAA,sample_23 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.265164,10.719448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S164.s.1.sequence,ATGTACGGCGAC,GTGCCAGCMGCCGCGGTAA,sample_73 stool,M3,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.661124,14.214158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S194.s.1.sequence,CGAAGACTGCTG,GTGCCAGCMGCCGCGGTAA,sample_105 stool,M3,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,4.439943,12.012602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S20.s.1.sequence,ACGGTGAGTGTC,GTGCCAGCMGCCGCGGTAA,sample_112 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.327601,11.758069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['BarcodeSequence', 'LinkerPrimerSequence', 'Description',
       'host_subject_id', 'study_id', 'title', 'principal_investigator', 'doi',
       'ebi_accession', 'target_gene', 'target_subfragment', 'pcr_primers',
       'illumina_technology', 'extraction_center', 'run_center', 'run_date',
       'read_length_bp', 'sequences_split_libraries',
       'observations_closed_ref_greengenes', 'observations_closed_ref_silva',
       'observations_open_ref_greengenes', 'observations_deblur_90bp',
       'observations_deblur_100bp', 'observations_deblur_150bp',
       'emp_release1', 'qc_filtered', 'subset_10k', 'subset_5k', 'subset_2k',
       'sample_taxid', 'sample_scientific_name', 'host_taxid',
       'host_common_name_provided', 'host_common_name', 'host_scientific_name',
       'host_superkingdom', 'host_kingdom', 'host_phylum', 'host_class',
       'host_order', 'host_family', 'host_genus', 'host_species',
       'collection_timestamp', 'country', 'latitude_deg', 'longitude_deg',
       'depth_m', 'altitude_m', 'elevation_m', 'env_biome', 'env_feature',
       'env_material', 'envo_biome_0', 'envo_biome_1', 'envo_biome_2',
       'envo_biome_3', 'envo_biome_4', 'envo_biome_5', 'empo_0', 'empo_1',
       'empo_2', 'empo_3', 'adiv_observed_otus', 'adiv_chao1', 'adiv_shannon',
       'adiv_faith_pd', 'temperature_deg_c', 'ph', 'salinity_psu',
       'oxygen_mg_per_l', 'phosphate_umol_per_l', 'ammonium_umol_per_l',
       'nitrate_umol_per_l', 'sulfate_umol_per_l'],
      dtype='object')

In [6]:
df.index

Index(['550.L1S116.s.1.sequence', '550.L1S119.s.1.sequence',
       '550.L1S164.s.1.sequence', '550.L1S194.s.1.sequence',
       '550.L1S20.s.1.sequence', '550.L1S26.s.1.sequence',
       '550.L1S264.s.1.sequence', '550.L1S273.s.1.sequence',
       '550.L2S103.s.2.sequence', '550.L2S144.s.2.sequence',
       ...
       '2382.DPOO1.C1.HA.3.238.root.9.11.lane1.NoIndex.L001.sequences',
       '2382.DPOO1.C1.HA.2.635.gp.9.12.lane8.NoIndex.L008.sequences',
       '2382.DPOO1.C1.HA.2.634.leav.9.12.lane8.NoIndex.L008.sequences',
       '2382.DPOO1.C1.HA.2.633.root.9.12.lane7.NoIndex.L007.sequences',
       '2382.DPOO1.C1.HA.2.433.root.4.12.lane7.NoIndex.L007.sequences',
       '2382.DPOO1.C1.HA.1.630.gp.9.12.lane8.NoIndex.L008.sequences',
       '2382.DPOO1.C1.HA.1.629.leav.9.12.lane8.NoIndex.L008.sequences',
       '2382.DPOO1.C1.HA.1.628.root.9.12.lane7.NoIndex.L007.sequences',
       '2382.DPOO1.C1.HA.1.428.root.4.12.lane7.NoIndex.L007.sequences',
       '2382.DPOO1.C1.HA.1.228.root.9.11.lane1.NoIndex.L001.sequences'],
      dtype='object', name='#SampleID', length=2000)

In [7]:
# The indexes should be the sample IDs. How many samples are in this DataFrame? How many metadata columns?
df.shape # 2000 samples and 75 metadata columns

(2000, 75)

In [8]:
# What are the minimum and maximum pH values in the dataset?
df[["ph"]].max()

ph    12.3
dtype: float64

In [9]:
df[["ph"]].min()

ph    3.45
dtype: float64

In [10]:
# What are the average and standard deviation temperature values in the dataset?

In [11]:
df[["temperature_deg_c"]].mean()

temperature_deg_c    18.491088
dtype: float64

In [12]:
df[["temperature_deg_c"]].std()

temperature_deg_c    16.672381
dtype: float64

In [13]:
# B. Indexing, slicing, and writing
# Make a new Series called temp with the temperature column as its own Series object. Remove NaN values (np.nan) from this Series. How many values are left?
temp = df["temperature_deg_c"]
temp = temp[pd.notnull(temp)]
len(temp)

411

In [14]:
temp.shape

(411,)

In [15]:
# Make a new DataFrame called df_seqs from columns sequences_split_libraries through observations_deblur_150bp (column positions 17-23) of the existing DataFrame. What is the mean value of column observations_deblur_90bp?
df_seqs1 = df.loc[:,"sequences_split_libraries":"observations_deblur_150bp"]
df_seqs1.head()

,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,observations_deblur_100bp,observations_deblur_150bp
#SampleID,,,,,,,
550.L1S116.s.1.sequence,33383,32153,32453,33337,22567,22160,1043
550.L1S119.s.1.sequence,40944,39472,39929,40870,27871,27191,1272
550.L1S164.s.1.sequence,35636,34550,34666,35599,24134,23686,1161
550.L1S194.s.1.sequence,46992,43925,43852,46875,30041,29264,1974
550.L1S20.s.1.sequence,30131,29179,29553,30094,21132,20643,603

In [16]:
df_seqs2 = df.iloc[:,17:24]
df_seqs2.head() # these two behave differently

,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,observations_deblur_100bp,observations_deblur_150bp
#SampleID,,,,,,,
550.L1S116.s.1.sequence,33383,32153,32453,33337,22567,22160,1043
550.L1S119.s.1.sequence,40944,39472,39929,40870,27871,27191,1272
550.L1S164.s.1.sequence,35636,34550,34666,35599,24134,23686,1161
550.L1S194.s.1.sequence,46992,43925,43852,46875,30041,29264,1974
550.L1S20.s.1.sequence,30131,29179,29553,30094,21132,20643,603

In [17]:
df_seqs1["observations_deblur_90bp"].mean()

64789.0535

In [18]:
# Save df_seqs as a csv file.

In [89]:
df_seqs1.to_csv("/Users/ruijuanli/Desktop/python-data-analysis_RuijuanL/chapter_5/df_seq1.csv", sep=',')

In [21]:
# 12-14-2018 
# operation between dataframe and series
# function application and mapping 
# sorting and ranking 
# axis indexes with duplicate labels
# correlation and covariance 
# unique values, value counts, and membership

In [36]:
# D1) convert temp to dataframe, use apply function to convert temperature_deg_c 
# to temperature_deg_f and store the data in a new dataframe called temp1

In [47]:
isinstance(temp, pd.Series)

True

In [49]:
temp.df = Series.to_frame(temp)
isinstance(temp.df, pd.DataFrame)

True

In [62]:
temp.df.head()

                     temperature_deg_c
#SampleID
678.OA.mesocosm.362               11.0
678.OA.mesocosm.376               10.8
678.OA.mesocosm.410               12.1
678.OA.mesocosm.417               11.0
678.OA.mesocosm.431               11.1

In [72]:
f = lambda x: x * 1.8 + 32
temp1 = temp.df.applymap(f)
temp1.columns = ['temperature_deg_f']
temp1.head()

                     temperature_deg_f
#SampleID
678.OA.mesocosm.362              51.80
678.OA.mesocosm.376              51.44
678.OA.mesocosm.410              53.78
678.OA.mesocosm.417              51.80
678.OA.mesocosm.431              51.98

In [73]:
# D2) use list comprehension to achive the above task

In [88]:
temp2 = pd.DataFrame([i * 1.8 + 32 for i in temp])
temp2.index = temp.index
temp2.columns = temp1.columns
temp2.head()

                     temperature_deg_f
#SampleID
678.OA.mesocosm.362              51.80
678.OA.mesocosm.376              51.44
678.OA.mesocosm.410              53.78
678.OA.mesocosm.417              51.80
678.OA.mesocosm.431              51.98

In [ ]:
# E1) sort the rows in df by sequence_split_libraries values 
# from high to low and store the results as temp3

In [106]:
temp3 = df.sort_values(by = 'sequences_split_libraries', ascending=False)
temp3['sequences_split_libraries'].head(10)

#SampleID
1240.1512BCDNA            819180
1222.B5.5.14.06           747257
810.1230C2H2              737194
638.FRX7.120910.2         716093
1242.ME04Jun01EB1R2       699690
638.RMK.ENR.34.2          681983
638.ELB6.111810.2         665113
659.NZFACE.R1.Browntop    639017
638.RMK.ENR.27.1          621054
638.RMK.ENR.12.1          600214
Name: sequences_split_libraries, dtype: int64

In [89]:
# E2) sort the columns in df by column names from A to Z and store
# the results as temp4.

In [119]:
df.columns

Index(['BarcodeSequence', 'LinkerPrimerSequence', 'Description',
       'host_subject_id', 'study_id', 'title', 'principal_investigator', 'doi',
       'ebi_accession', 'target_gene', 'target_subfragment', 'pcr_primers',
       'illumina_technology', 'extraction_center', 'run_center', 'run_date',
       'read_length_bp', 'sequences_split_libraries',
       'observations_closed_ref_greengenes', 'observations_closed_ref_silva',
       'observations_open_ref_greengenes', 'observations_deblur_90bp',
       'observations_deblur_100bp', 'observations_deblur_150bp',
       'emp_release1', 'qc_filtered', 'subset_10k', 'subset_5k', 'subset_2k',
       'sample_taxid', 'sample_scientific_name', 'host_taxid',
       'host_common_name_provided', 'host_common_name', 'host_scientific_name',
       'host_superkingdom', 'host_kingdom', 'host_phylum', 'host_class',
       'host_order', 'host_family', 'host_genus', 'host_species',
       'collection_timestamp', 'country', 'latitude_deg', 'longitude_deg',
       'depth_m', 'altitude_m', 'elevation_m', 'env_biome', 'env_feature',
       'env_material', 'envo_biome_0', 'envo_biome_1', 'envo_biome_2',
       'envo_biome_3', 'envo_biome_4', 'envo_biome_5', 'empo_0', 'empo_1',
       'empo_2', 'empo_3', 'adiv_observed_otus', 'adiv_chao1', 'adiv_shannon',
       'adiv_faith_pd', 'temperature_deg_c', 'ph', 'salinity_psu',
       'oxygen_mg_per_l', 'phosphate_umol_per_l', 'ammonium_umol_per_l',
       'nitrate_umol_per_l', 'sulfate_umol_per_l'],
      dtype='object')

In [129]:
temp4 = df.sort_index(axis=1)
temp4.columns  # incorrect # inplace=True??? # firstly big letter then small letter

Index(['BarcodeSequence', 'Description', 'LinkerPrimerSequence', 'adiv_chao1',
       'adiv_faith_pd', 'adiv_observed_otus', 'adiv_shannon', 'altitude_m',
       'ammonium_umol_per_l', 'collection_timestamp', 'country', 'depth_m',
       'doi', 'ebi_accession', 'elevation_m', 'emp_release1', 'empo_0',
       'empo_1', 'empo_2', 'empo_3', 'env_biome', 'env_feature',
       'env_material', 'envo_biome_0', 'envo_biome_1', 'envo_biome_2',
       'envo_biome_3', 'envo_biome_4', 'envo_biome_5', 'extraction_center',
       'host_class', 'host_common_name', 'host_common_name_provided',
       'host_family', 'host_genus', 'host_kingdom', 'host_order',
       'host_phylum', 'host_scientific_name', 'host_species',
       'host_subject_id', 'host_superkingdom', 'host_taxid',
       'illumina_technology', 'latitude_deg', 'longitude_deg',
       'nitrate_umol_per_l', 'observations_closed_ref_greengenes',
       'observations_closed_ref_silva', 'observations_deblur_100bp',
       'observations_deblur_150bp', 'observations_deblur_90bp',
       'observations_open_ref_greengenes', 'oxygen_mg_per_l', 'pcr_primers',
       'ph', 'phosphate_umol_per_l', 'principal_investigator', 'qc_filtered',
       'read_length_bp', 'run_center', 'run_date', 'salinity_psu',
       'sample_scientific_name', 'sample_taxid', 'sequences_split_libraries',
       'study_id', 'subset_10k', 'subset_2k', 'subset_5k',
       'sulfate_umol_per_l', 'target_gene', 'target_subfragment',
       'temperature_deg_c', 'title'],
      dtype='object')

In [132]:
temp4 = df.iloc[:,df.columns.str.lower().argsort()]
temp4.columns

Index(['adiv_chao1', 'adiv_faith_pd', 'adiv_observed_otus', 'adiv_shannon',
       'altitude_m', 'ammonium_umol_per_l', 'BarcodeSequence',
       'collection_timestamp', 'country', 'depth_m', 'Description', 'doi',
       'ebi_accession', 'elevation_m', 'emp_release1', 'empo_0', 'empo_1',
       'empo_2', 'empo_3', 'env_biome', 'env_feature', 'env_material',
       'envo_biome_0', 'envo_biome_1', 'envo_biome_2', 'envo_biome_3',
       'envo_biome_4', 'envo_biome_5', 'extraction_center', 'host_class',
       'host_common_name', 'host_common_name_provided', 'host_family',
       'host_genus', 'host_kingdom', 'host_order', 'host_phylum',
       'host_scientific_name', 'host_species', 'host_subject_id',
       'host_superkingdom', 'host_taxid', 'illumina_technology',
       'latitude_deg', 'LinkerPrimerSequence', 'longitude_deg',
       'nitrate_umol_per_l', 'observations_closed_ref_greengenes',
       'observations_closed_ref_silva', 'observations_deblur_100bp',
       'observations_deblur_150bp', 'observations_deblur_90bp',
       'observations_open_ref_greengenes', 'oxygen_mg_per_l', 'pcr_primers',
       'ph', 'phosphate_umol_per_l', 'principal_investigator', 'qc_filtered',
       'read_length_bp', 'run_center', 'run_date', 'salinity_psu',
       'sample_scientific_name', 'sample_taxid', 'sequences_split_libraries',
       'study_id', 'subset_10k', 'subset_2k', 'subset_5k',
       'sulfate_umol_per_l', 'target_gene', 'target_subfragment',
       'temperature_deg_c', 'title'],
      dtype='object')

In [90]:
# potential Q: calculation correlation for the SNP data in 
# genomic prediction. and check how long it takes compared to 
# R

In [ ]:
### note from python club: 
# 1) pandas could tolerate duplicated index and column names